#main-body {
    background-color: lightslategray;
}
.head-block {
    background-color: black;
    height: 150px;
    padding-top: 1px;
}
.head-title {
    color: lightslategray;
    font-size: 70;
}
.body-block {
    padding-top: 20px;
    padding-left: 300px;
}
.body-title {
    color: whitesmoke;
    font-size: 30;
}