{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>COSMO's BLOG</title>
    </head>
    <body id="main-body">
    <div class="head-block">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="{% url 'post_list' %}" class="head-title">COSMO's BLOG</a></h1>
    </div>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>