{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="body-block">
        <p>Published at: {{ post.published_date }}</p>
        <h2><a href="{% url 'post_detail' pk_id=post.pk  %}" class="body-title">{{ post.title }}</a></h2>
        <p>{{ post.content|linebreaksbr }}</p>
    </div>
    {% endfor %}
{% endblock %}
