{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
        <div class="pub-date">
            {{ post.published_date }}
        </div>
        {% endif %}
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-content">{{ post.content }}</p>
    </div>
{% endblock %}